* {
	transition: color .3s, border .3s;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Space Mono', monospace;*/
}
html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}
#gallery {
	display: none;
	position: absolute;
	top: 10%;
	margin-left: 5%;
	margin-right: 10%;
	background: transparent;
	color: whitesmoke;
	border: 1px solid whitesmoke;
	padding: 8px;
}
#gallery img {
	width: 30%;
	float: left;
	margin: 8px;
}
.navTitle {
	margin-top: 17px;
	position: absolute;
	left: 2%;
	color: #FFC53A;
	font-family: 'Lobster', cursive;
}
.rightNav {
	display: none;
	position: absolute;
	top: 45%;
	right: 2%;
	padding: 16px;
	background: transparent;
	color: whitesmoke;
	border: 1px solid whitesmoke;
}
.customHeader {
	width: 100%;
	position: absolute;
}
.clickbait {
	  -webkit-animation-name: thar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: thar;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.sendButton:hover {
	color: #FFC53A;
	border: 1px solid #FFC53A;
}
.sendButton {
	cursor: pointer;
}
#contact {
	width: 98%
}
#content2 {
	border: 1px solid whitesmoke;
	padding: 16px;
	position: absolute;
	top: 45%;
	left: 45%;
	text-align: center;
}
#about {
	display: none;
	border: 1px solid whitesmoke;
	padding: 16px;
	position: absolute;
	top: 60%;
	left: 55%;
	width: 30%;
}
#content4 {
	border: 1px solid whitesmoke;
	padding: 16px;
	position: absolute;
	top: 25%;
	left:10%;
	display: none;
	width: 30%;
}
#content5 {
	border: 1px solid whitesmoke;
	padding: 16px;
	position: absolute;
	top: 70%;
	left:10%;
	display: none;
	width: 30%;
}
#contactForm {
	border: 1px solid whitesmoke;
	padding: 16px;
	position: absolute;
	margin: 10% 10% 10% 10%;
	display: none;
}
img.first {
	position: absolute;
	top: 20%;
	left:5%;
	width: 40%;
	height: auto;
	display: none;
}
img.second {
	position: absolute;
	top: 38%;
	right: 10%;
	width: 40%;
	height: auto;
	display: none;
}
img.third {
	position: absolute;
	top: 5%;
	right:20%;
	width: 40%;
	height: auto;
	display: none;
}
img.ico {
	float: right;
	margin: 8px 8px;
	cursor: pointer;
	transition-timing-function: ease-in;
}
a {
	color: whitesmoke;
	text-decoration: none;
}
a:hover {
	color: #FFC53A;
}
input {
	border: 1px solid white;
	color: whitesmoke;
	background: transparent;
	padding: 4px;
}
textarea {
	background: transparent;
	color: whitesmoke;
	border: 1px solid white;
	width: 100%;
	min-height: 70px;
}
h3,label {
	color: #FFC53A;
}

span {
	color: whitesmoke;
	cursor: pointer;
}
p {
	color: whitesmoke;
	text-align: justify;
}
span:hover {
	color: #FFC53A;
	cursor: pointer;
}
.afterPress {
		border: 1px solid red;
		color: red;
		width: 50%;
    height: 50%;
    top: 10% !important;
    left: 25% !important;
		transition: height 1s, top 1s, width 1s, left 1s;
}
#welcome {
	text-align: center;
	padding: 6px
}
@-webkit-keyframes thar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes thar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@media (max-width: 550px) {
	div.rightNav {
		visibility: hidden;
	}
}
@media (max-width: 450px) {
	div.rightNav {
		visibility: hidden;
	}
	img.first,img.second,img.third {
		top: 10%;
		width: 80%;
		margin-right: 10%;
		right: 5%;
	}
	#about, #content4, #content5 {
		padding: 8px;
		bottom: 10%;
		top: 60%;
		right: 5%;
		left: 10%;
		width: 80%;
		font-size: 10px;
	}
	#content2 {
		left: 37%;
	}
	label {
		float: left;
	}
}